{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
	<title>LOGIN</title>
{% endblock %}

{% block content %}
	<h1 class="welcome">LOGIN HERE</h1>

	<form action='' method="POST">
		<div class="row login_center">
			<br>
			<div class="six columns login_center">
				{% csrf_token %}
			</div>
			<br>
			<div class="log_center">
				<label for="username">Username</label>
			</div>
			<br>
			<div class="log_center">	
				{% render_field form.username class+="one-half column" %}
			</div>
			<br>
			<div class="log_center">
				<label for="password">Password</label>
			</div>
			<br>
			<div class="log_center">
				{% render_field form.password class+="one-half column" %}
			</div>
		</div>
		<br>
    <div class="button_center">
      <input class="button-primary" type="submit", name="submit", value="LOGIN"></input>
    </div>
	</form>

{% endblock %}
