{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
	<title>NEW USER</title>
{% endblock %}

{% block content %}
	<h1 class="welcome" >WELCOME NEW USER</h1>

	<form action='' method="POST" class="regis_center">
		<div class="row login_center">
			<div class="field">
				{% csrf_token %}
				<div class="log_center">
					<label for="username">Username: </label>
				</div>
				<br>
				<div class="log_center">
					{% render_field form.username class+="one-half column" %}
				</div>
			</div>

			<div>
				<div class="log_center">
					<label for="email">Email: </label>
				</div>
				<br>
				<div class="log_center">
					{% render_field form.email class+="one-half column" %}
				</div>
			</div>

			<div>
				<div class="log_center">
					<label for="password">Password: </label>
				</div>
				<br>
				<div class="log_center">
					{% render_field form.password1 class+="one-half column" %}
				</div>
			</div>

			<div>
				<div class="log_center">
					<label for="password">Re-enter Password: </label>
				</div>
					<br>
				<div class="log_center">
					{% render_field form.password2 class+="one-half column" %}
				</div>
			</div>

		</div>
		<br>
    <div class="button_center">
      <input type="submit", name="submit", value="Create Account"></input>
    </div>

	</form>
{% endblock %}
