{% extends "base.html" %}

{% block title %}
	<title>Library</title>
{% endblock %}

{% block content %}
{% load thumbnail %}

	<h1>Library Album</h1>

	{% for album in albums %}
	    {{ album.title }}
	    {% thumbnail album.cover "200x200" as im %}
	      <a href="/images/album/{{ album.id }}">
	        <img src="{{ im.url }}">
	      </a>
		{% endthumbnail %}
	{% endfor %}
<div>
  <a href="/images/albums/add"><button>Add Album</button></a>
</div>
<div>
  <a href="/images/photos/add"><button>Add Photo</button></a>
</div>
{% endblock %}

