{% extends "base.html" %}

{% block title %}
  <title>Profile</title>
{% endblock %}

{% block content %}
	<h2 class="welcome">Imgr Profile:</h2>
	<div class="container">
		<div>
			
			<div class="profile_info row">
			  <p class="tweleve column">First Name: {{ user.first_name }}</p>
			</div>

			<div class="profile_info row">	
			  <p class="tweleve column">Last Name:  {{ user.last_name }}</p>
			</div>

			<div class="profile_info row">
			  <p class="tweleve column">Username:   {{ user }} </p>
			</div>

			<div class="profile_info row">
			  <p class="tweleve column">Email:      {{ user.email }}</p>
			</div>

		</div>
	</div>

	<div class="button_center">
	  <a href="/accounts/profile/edit"><button>Edit Profile</button></a>
	</div>

{% endblock %}
